
<section class="example-section">
    <label class="example-margin">Align:</label>
    <mat-radio-group   aria-labelledby="example-radio-group-label"
    class="example-radio-group" [(ngModel)]="labelPosition"  >
      <mat-radio-button class="example-radio-button" *ngFor="let element of radioarray"  (change)="checkbox($event)"  [value]="element.value">{{element.name}}</mat-radio-button>
      <mat-radio-button class="example-radio-button"  *ngFor="let element of radioarray2"  [value]="element.value">{{element.name}}</mat-radio-button>
    </mat-radio-group>
  </section>

  
  <mat-form-field class="example-chip-list" appearance="fill">
    <mat-label>Favorite Fruits</mat-label>
    <mat-chip-list #chipList aria-label="Fruit selection">
      <mat-chip
        *ngFor="let fruit of fruits"
        (removed)="remove(fruit)">
        {{fruit.name}}
        <!-- <button matChipRemove> -->
          <mat-icon matChipRemove>cancel</mat-icon>
        <!-- </button> -->
      </mat-chip>
      <input 
        placeholder="New fruit..."
        #fruitInput
        [formControl]="fruitCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option #chipInput ngFor="let fruit of filteredFruits | async" [value]="fruit">
        {{fruit}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>