
  <!-- <form action="" #form1="ngForm" >
    <div class="mat">
        <mat-form-field>
          <mat-label>UserName</mat-label>
          <input matInput autocomplete="off" type="text" [(ngModel)]="username"
          name="user">    </mat-form-field>
        <mat-form-field >
          <input matInput autocomplete="off" placeholder="password here..." type="text" [(ngModel)]="password"
          name="pass">    </mat-form-field>
    </div>
  </form> -->

    <div  class="mat">
      <form class="example-form" #form1="ngForm">

    <mat-card class="matcard" style="height: 200px; display: flex;flex-direction: column;">

    <mat-form-field class="w-100">
      <input matInput placeholder="Favorite food">
    </mat-form-field>
  
    <mat-form-field class="w-100">
      <input matInput placeholder="Leave a comment">
    </mat-form-field>
  </mat-card>
</form>

</div>





