.sidenav-header {
  padding: 7px 0px 0px 84px !important;
  height: 105px !important;
  background: linear-gradient(to bottom, #f3291a, #FFC107) !important;
  border: -2px solid #ddd;
  border-radius: 7px;
}