


@import '~material-icons/iconfont/material-icons.css';

@import '~@angular/material/prebuilt-themes/indigo-pink.css';


.app.teal-light .mat-flat-button.mat-primary, .app.teal-light .mat-raised-button.mat-primary, .app.teal-light .mat-fab.mat-primary, .app.teal-light .mat-mini-fab.mat-primary {
    background-color: #FFC107 !important;
}
.app.teal-light .mat-toolbar{
    min-height: 40px !important;
}
.mat-toolbar-row, .mat-toolbar-single-row {
    height: 45px !important;
}
.app.teal-light .mat-card {
    background: white;
    color: rgba(0, 0, 0, 0.87);
    font-weight: bold !important;
    border-radius: 10px !important;
}

.head h3 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 900 !important;
    letter-spacing: 1px;
    font-family: sans-serif;
    color: #6b6a6a;
    margin: 10px 0;
    font-size: 15px;
    padding: 3px 11px;
    border-radius: 36px;
    position: absolute;
    top: 18px;
    left: 0;
    right: 0;
}
.top{
    background: #099886b5;
    padding: 0px 35px;
    border-radius: 10px;
}
.mat-radio-label-content {
    display: inline-block;
    order: 0;
    line-height: inherit;
    padding-left: 8px;
    padding-right: 8px;
}

.mat-card-actions .mat-button,
.mat-card-actions .mat-raised-button {
    margin: 0px 4px 7px 4px !important;
}

.mat-radio-group {
    margin-top: 20px;
}

.py-1 {
    margin-top: 1% !important;
}

.single-field {
    flex: 1 1 50% !important;
    margin-top: 10px;
}
th.mat-header-cell {
    text-align: left;
    background: #ffc107 !important;
    padding: 12px !important;
}
td.mat-cell, td.mat-footer-cell, th.mat-header-cell{
    padding: 10px !important;
}
table {
    width: 100%;
    table-layout: auto !important;
}
th, td{
    width: auto !important;
}
td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
     padding-left: 0px !important;
}

.mat-select-panel {

    margin: 10px 0 0 0 !important;
}

.mat-datepicker-content .mat-calendar{
    width: 250px !important;
    height: 302px !important;
}
.mat-header-cell {
    color: rgba(0, 105, 92, 1) !important;
    font-size: 14px;
    font-weight: bold;
}

placeholder {
    color: #000;
}


.mat-select-panel {
    margin-top: 30px;
}

.mat-form-field-suffix {
    font-size: x-large !important;
}



.mat-radio-group {
    margin-top: 21px !important;
}





.width-1-1 {
    width: 100% !important;
}

.text-align-center {
    text-align: center !important;
}

.text-align-right {
    text-align: right !important;
}

.mat-checkbox-inner-container-no-side-margin {
    margin-bottom: 11px !important;
}

.sub-menu {
    padding-left: 0px !important;
}

.menu-item .mat-button-wrapper {
    padding-left: 10px !important;
}

.mat-fab .mat-button-wrapper {
    padding: 5px 0 !important;
}

.mat-fab {
    width: 35px !important;
    height: 35px !important;
}

.mat-fab .mat-button-wrapper {
    line-height: 0px;
}

h2 {
    color: black;
    font-size: 16px;
    padding-bottom: 10px !important;
}

.mat-expansion-panel-body {
    padding: 0px 0px !important;
}

.mat-expansion-panel-header {
    padding: 0 10px !important;
}

.mat-header-cell {
    color: #fff !important;
    font-size: 12px;
    font-weight: bold;
}

.mat-header-row {
    height: 55px;
}

.mat-cell,
.mat-header-cell {
    min-width: 89px;
}

.mat-header-cell {
    background-color: #00695c;
}

.mat-table {
    width: 100%;
}

tr.mat-header-row {
    height: 40px !important;
}

.mtb {
    margin-bottom: 15px !important;
    margin-top: 25px !important;
}

.app.teal-light .mat-calendar-body-today:not(.mat-calendar-body-selected) {
    border-color: rgba(0, 0, 0, 0.38) !important;
    background-color: #a9a9a9 !important;
    color: white;
    box-shadow: 1px 0px 8px 0px #888888;
}

.app.teal-light .mat-calendar-body-cell-content {
    color: rgba(0, 0, 0, 0.87);
    border-color: #0a0a0a00 !important;
}

.app.teal-light .mat-calendar-body-selected {
    background-color: #00695c;
    color: white !important;
    box-shadow: 1px 0px 8px 0px #888888;
}

.mat-sort-header-arrow {
    color: rgb(164, 211, 110) !important;
    opacity: 1 !important;
    size: 20px !important;
}

.mat-calendar-body-cell-content::after :focus {
    background-color: aqua !important;
}

@media screen and (max-width: 399px) {
    .mat-dialog-container {
        margin: 0px !important;
        padding: 0px !important;
        max-width: 100vw !important;
    }
}


.mat-dialog-container {
    margin: 0px !important;
    padding: 0px !important;
    max-width: 100vw !important;
   
}



.cdk-overlay-pane,
.md-overlay-pane {
    max-width: 87vw !important;
}


#icun {
    opacity: 1;
    color: rgb(180, 61, 61);
    -webkit-margin-before: -11px !important;
}

#close_button {
    opacity: 0.9;
    border: none;
    background-color: aliceblue;
    margin-top: -18px !important;
    margin-right: -15px !important;
    width: 30px !important;
    height: 30px !important;

  
}




#btd-confirm {
    background: linear-gradient(to right, #99b3ff 0%, #9999ff 100%)
}

#btd-clear {

    background: linear-gradient(to right, #e6e6e6 0%, #e7e5e4 100%);
    color: black;
    text-shadow: 1px 1px 3px white;
}

.btd-close {
    background: linear-gradient(to right, rgb(233, 75, 88) 0%, rgba(221, 76, 8, 0.986) 100%)
}


.cdk-overlay-container {
    pointer-events: none;
}

@media screen and (max-width:399px) {
  
    #btd-confirm {
        background: linear-gradient(to right, #99b3ff 0%, #9999ff 100%);
        width: auto !important;
        height: 40px !important;
    }

    #btd-clear {

        background: linear-gradient(to right, #e6e6e6 0%, #e7e5e4 100%);
        color: black;
        text-shadow: 1px 1px 3px white;
        width: auto !important;
        height: 40px !important;
    }

    .btd-close {
        background: linear-gradient(to right, rgb(233, 75, 88) 0%, rgba(221, 76, 8, 0.986) 100%) ;
        width: auto !important;
        height: 40px !important;
    }
}
.app.teal-light .mat-drawer {
    background-color: #f1f1f1;
    color: rgba(0, 0, 0, 0.84);
    min-width: 23% !important;
    padding: 3px;
}
.app.teal-light .mat-toolbar.mat-primary {
    background: #ffe603;
    color: white;
    border-bottom: 2px solid #0000008c;
}
.app.teal-light .active-link {
    border-radius: 0;
    background-color: #ffffff;
    color: #000;
}
.app.teal-light .mat-progress-spinner circle, .app.teal-light .mat-spinner circle {
    stroke: #fde400;
    stroke-width: 3px !important;
}
.ps__thumb-y {
    background-color: #898a8a !important;
}
.app.teal-light .mat-flat-button.mat-primary, .app.teal-light .mat-raised-button.mat-primary, .app.teal-light .mat-fab.mat-primary, .app.teal-light .mat-mini-fab.mat-primary {
    background-color: #FFC107 !important;
}
.mat-icon{
    color: black !important;
}
.app.teal-light .mat-flat-button.mat-primary[disabled], .app.teal-light .mat-flat-button.mat-accent[disabled], .app.teal-light .mat-flat-button.mat-warn[disabled], .app.teal-light .mat-flat-button[disabled][disabled], .app.teal-light .mat-raised-button.mat-primary[disabled], .app.teal-light .mat-raised-button.mat-accent[disabled], .app.teal-light .mat-raised-button.mat-warn[disabled], .app.teal-light .mat-raised-button[disabled][disabled], .app.teal-light .mat-fab.mat-primary[disabled], .app.teal-light .mat-fab.mat-accent[disabled], .app.teal-light .mat-fab.mat-warn[disabled], .app.teal-light .mat-fab[disabled][disabled], .app.teal-light .mat-mini-fab.mat-primary[disabled], .app.teal-light .mat-mini-fab.mat-accent[disabled], .app.teal-light .mat-mini-fab.mat-warn[disabled], .app.teal-light .mat-mini-fab[disabled][disabled] {
    background-color: rgba(0, 0, 0, 0.12) !important;
}


.cantact_info {
    width: 50%;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-size: cover;
    background-position: center center;
}


  @media screen and (max-width: 100px) {
    .cantact_info {
        display: none;
    } 

  }
  .item{
    width: 25%;
    display: inline-block;
    @media only screen and (max-width: $tablet){
        width: 50%
    }
    @media only screen and (max-width: $mobile-large){
        width: 100%
    }
  }
 